h1 {
    font-family: 'Poppins', Georgia, Times, serif;
    font-weight: 900;
    font-size: 500%;
    line-height: 1;
    text-shadow: 1px 1px 1px #ccc
}

h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Georgia, Times, serif;
    font-weight: 900;
    font-size: 100%;
    line-height: 1.5;
}

a {
    font-family: 'Poppins', Georgia, Times, serif;
    font-weight: 900;
    font-size: 100%;
    line-height: 1.5;
}

p, div {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

body {
    background: url(images/cream_dust.png) repeat 0 0;
}

.h1-out {
      font-family: 'Poppins', Georgia, Times, serif;
      font-weight: 900;
      font-size: 300%;
      line-height: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 10px;
      text-shadow: 1px 1px 1px #ccc
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.article-margin {
  margin-left: 10%;
  margin-right: 10%;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  box-shadow: 0 0 .25em .25em #ccc;
  padding: 15px;
}

.out {
    box-shadow: 0 0 .25em .25em #ccc;
    margin: 15px;
    padding: 15px;
}
